---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>A Blog</title>
  </head>
  <body>
    <!-- center vertically -->
    <main class="page-shell home text-center h-100">
      <div class="page-header text-center align-middle block">
        <h1>A Blog</h1>
        <p class="tagline">
          This is not just a blog. This is <span class="a-blog-text"
            >A Blog</span
          >.
        </p>
        <a href="/posts" class="posts-link">See Posts</a>
      </div>
    </main>
  </body>
</html>
